.autocomplete-input {
    background: none !important;
    box-shadow: none !important;
}

.autocomplete-result-list {
    color: #495057;
    background-color: #fff;
    outline: 0;
    border: 1px solid #80bdff;
    border-radius: 0.25rem;
}
