.schedule {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;


    &__image-wrapper {
        position: relative;
        overflow: hidden;
    }

    &__image {
        width: 100%;
    }

    @media (min-width: 576px) {
        &__image {
            position: absolute;
            width: auto;

            max-height: 100%;
        }
    }

    &__register_link:hover {
        color: #d1d3e2 !important;
    }

    &__unregister_link:hover {
        color: #d1d3e2 !important;
    }

    &__registered > &__register_link {
        display: none !important;
    }

    &__unregistered > &__unregister_link {
        display: none !important;
    }
}
