.teachers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    &__header {
        text-align: center;
        vertical-align: center;
        min-height: 100px;
        width: 100%;
        margin-bottom: 10px;
    }
}
